SECRET_KEY=
ALLOWED_HOST_1=
ALLOWED_HOST_2=
ALLOWED_HOST_3=
CORS_ALLOWED_ORIGIN_1=
CORS_ALLOWED_ORIGIN_2=
CORS_ALLOWED_ORIGIN_3=
DATABASE_ENGINE=
DATABASE_NAME=
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
REDIRECT_URL=
CREATE_ORDER_URL=
ORDER_CREATION_ENDPOINT=
S2S_RESPONSE_ENDPOINT=
BD_SECRET_KEY=
CLIENT_ID=
MERCHANT_ID=
ALG=