aad.config.json*
env/
media/
.log
.log*
error.log/
error.log
/error.log
.env

authentication/__pycache__/
authentication/migrations/__pycache__/

student/__pycache__/
student/migrations/__pycache__/

employee/__pycache__/
employee/migrations/__pycache__/
sshkey
sshkey.pub