<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form action="/fee/" method="post">
        {% csrf_token %}
        {% comment %} <input type="text" name="user_id" placeholder="user_id" required/> {% endcomment %}
        <select name="batch" id="batch" required>Select Batch (Passing Year)
            <option value="2026">2026</option>
        </select>
        <button type="submit">SUBMIT</button>
    </form>

    
    
</body>
</html>